body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer__custom{
  color: white;
}
.BannerCustom{
  margin-top: 10px;
  background-color: #f8f9fa;
  /* opacity: 0.1; */
  /* color: white; */
  height: 300px;
}
.textContent{
  padding: 50px;
  margin: 20px;
}